<% if not user_signed_in? %>
<div style="text-align: center">
  <%= link_to "Sign in as admin", new_user_session_path, class: "btn" %>
  <%= link_to "Check your documents", student_check_path, class: "btn" %>
<% else %>
  <p>Welcome back! </p>
<% end %>
