=form_for @trip, action: "import", method: "post", url: "", authenticity_token: true do |f|
  =f.label :Insert_Student_OSISES_Below
  =f.submit "Import Students", :class => "btn.btn-primary.a-white"
  %br
  =hidden_field_tag :authenticity_token, form_authenticity_token
  =f.text_area :students_to_import, placeholder: "Enter Student Osises Here:", size:"100"
=link_to 'Trip Admin Page', rails_admin.index_path(model_name: 'trip')
