=form_for @trip, action: "import", method: "post", url: "", authenticity_token: true do |f|
  =f.label "Directions:", "Directions: Separate each OSIS with a space."
  =hidden_field_tag :authenticity_token, form_authenticity_token
  =f.text_area :students_to_import, placeholder: "Enter Student Osises Here:", size:"100"
  %br
  =f.submit "Import Students", :class => "btn btn-primary.a-white"
=link_to 'Trip Admin Page', rails_admin.show_path(model_name: 'trip', id: @trip.id)
