%h1 Trips

.table-responsive
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th Name
        %th

    %tbody
      - @trips.each do |trip|
        %tr
          %td= trip.name
          %td
            = link_to 'Dashboard', dashboard_trip_path(id: trip.id),
              class: 'btn btn-primary a-white'
            = link_to 'Import', import_trip_path(id: trip.id),
              class: 'btn btn-primary a-white'

%br

= link_to 'Trip Admin Page', rails_admin.index_path(model_name: 'trip')
