<div class="row">
  <% Student::SEASONALS.each do |seasonal_type| %>
    <div class="col-md-3">
      <h2><%= seasonal_type.to_s.titleize.pluralize %></h2>
      <table class="table">
        <tbody>
          <% if @student.valid_seasonal(seasonal_type) %>
            <%= render 'valid_seasonal', seasonal_type: seasonal_type %>
          <% else %>
            <%= render 'missing_seasonal', seasonal_type: seasonal_type %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
