%tr
  %td.pb-1.pt-3
    %p.lead= form_type.to_s.titleize
  - if @student.valid_forms(form_type).any?
    %td.text-center.pb-1.pt-3.table-success
      %p.lead= "Valid"
  - else
    %td.text-center.pb-1.pt-3.table-danger
      %p.lead.font-weight-bold= "Missing"
