<div class="row-fluid">
  <div class="span12">
    <h1>Out the f*cking window</h1>
    <p>The student has been successfully deleted.</p>
    <%= link_to 'Back', students_path, class: 'btn' %>
  </div>
</div>
