<h1>Students</h1>
<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Year</th>
        <th>Cell Phone</th>
    </tr>
<% @students.each do |student| %>
    <tr>
        <td><%= student.last_name %></td>
        <td><%= student.first_name %></td>
        <td><%= student.year %></td>
        <td><%= number_to_phone student.student_cell_phone, area_code: true %></td>
    </tr>
<% end %>
</table>
