%h1= "Create Multiple Services for: #{@event.name}"
= form_for @event, action:"add_services", method: "post", url: "", authenticity_token: true do |f|
  =f.label "Directions:", "Directions: Type in OSIS of student for the service and then the # of hours they participated after a space."
  =hidden_field_tag :authenticity_token, form_authenticity_token
  %br
  =f.text_area :service_params, placeholder: "Examples Below: \n 213300452 4 \n 212312321 5", size: "100"
  %br
  =f.submit "Bulk Add Services", :class => "btn btn-primary.a-white"
=link_to 'Event Admin Page', rails_admin.show_path(model_name: 'event', id: @event.id)

