<div class="row">
  <% Seasonal.seasonal_types.each do |seasonal_type, _| %>
    <div class="col-md-3">
      <h2><%= seasonal_type.titleize.pluralize %></h2>
      <table class="table">
        <tbody>
          <% if @student.valid_seasonal(seasonal_type) %>
            <%= render 'seasonals/valid_seasonal', seasonal_type: seasonal_type %>
          <% else %>
            <%= render 'seasonals/missing_seasonal', seasonal_type: seasonal_type %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
