%h1 Team Forms:
%ul
%li= link_to "Media Consent Form", "https://drive.google.com/file/d/0B8g81hwwtg-rSlZZQTRmVVA3N2c/view"
%li= link_to "Medical Form", "https://drive.google.com/file/d/0B8g81hwwtg-rYy15Yzhhd2ltSlk/view"
