%div.card.text-center.bg-primary.text-white
  %div.card-header
    %h1 Welcome to Team Manager!
%br
  //For Logged-In Users:
-if current_user.is_admin
  %div.row
    %div.col-sm-6
      %div.card.text-center.bg-primary.text-white
        %div.card-header
          %h3 Admin Panel
        %div.card-body.bg-white
          %div.card-title
          %div.card-text

-else 
  %p Sign in to your Team Manager account using your stuypulse.com email!
