/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$primary: #5C99FF;
$info: #4A7BCC;

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "bootstrap";

hr {
    background-color: #ccc;
}

.a-white a {
    color: white;
    text-decoration: none;
}

* {
        font-family: "Comfortaa";
}

.th {
        font-family: "Poppins";
}

.btn, .btn:hover {
        color: white;
        text-decoration: none;
}

.btn-info:hover {
        background-color: #2E4D7F;
}

.card-header {
        margin-top: 5px;
}

h1 {
        text-align: center;
}

textarea {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
}
