/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@font-face {
        font-family: "Comfortaa";
        src: url('fonts/comfortaa-v19-latin-700.eot'); /* IE9 Compat Modes */
        src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
        url('fonts/comfortaa-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/comfortaa-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/comfortaa-v19-latin-700.woff') format('woff'), /* Modern Browsers */
        url('fonts/comfortaa-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/comfortaa-v19-latin-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

hr {
    background-color: #ccc;
}

.a-white a {
    color: white;
    text-decoration: none;
}

* {
        font-family: "Comfortaa";
}

.btn, .btn:hover {
        color: white;
        text-decoration: none;
}

h1 {
        text-align: center;
}
