// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$inactiveColor: rgb(160, 200, 130);
$validColor: rgb(50,120,0);
$invalidColor: rgb(200,40,0);

.invalid_item
{
  font-size: 150%;
  color: $inactiveColor;
  text-decoration: none;
}

.valid_item
{
  font-size: 150%;
  color: $validColor;
}

tr.toggle_children:hover
{
  cursor: pointer;
  
  & .valid_item
  {
    color: $invalidColor;
  
    & i:before
    {
      content: "\f00d";
    }
  }
  
  & .invalid_item
  {
    color: $validColor;
    text-decoration: none;
  }
}

.de-buttonize
{
  background-color: transparent;
  border: none;
}

.hidden
{
  display: none;
}
