<h1>Dinners </h1>
<div style="text-align:right">
    <%= link_to "New Dinner", {action: 'new'}, class: 'btn btn-primary', style: 'margin-bottom: 10px' %>
</div>
<div class="container">
<% if @past_dinners.any? %>
  <h2 class="inline">Past </h2>
  <a href="#" class="toggle-old-dinners"><i class="icon-plus"></i></a>
  <%= render partial: "dinner_group", object: @past_dinners, locals: {old_dinners: true} %>
<% end %>

<% if @present_dinners.any? %>
  <h2 class="inline">Today</h2>
  <%= render partial: "dinner_group", object: @present_dinners, locals: {old_dinners: false}  %>
<% end %>

<% if @future_dinners.any? %>
  <h2>Future </h2>
  <%= render partial: "dinner_group", object: @future_dinners, locals: {old_dinners: false} %>
<% else %>
  <p>No upcoming dinners. </p>
<% end %>
</div>
